<html>
    <head>
        <title>To Adopt</title>
    </head>
    <body>
        <h1>Adoption Form</h1>
        <h2>Contact Information</h2>
        <form action="/adopt-dog" method="get">
            Username: <input type="text" name="username">
            <br><br>
            <!-- autofilled-->
            Full Name: <input type="text" name="fullName">
            <br><br>
            Contact Number: <input type="text" name="contactNo">
            <br><br>
            Address: <input type="text" name="address">
            <br><br>
            Email: <input type="text" name="email">
            <br><br>
        </form>

        <h2>Family & Housing</h2>
        <form>
            What type of housing do you reside in? 
            <br><br>
            <input type="radio" name="hdb" value="hdb"> HDB
            <input type="radio" name="condo" value="condo"> Condominium
            <input type="radio" name="landed" value="landed"> Landed Property
            <input type="radio" name="others" value="others"> Others (Please specify)
            <input type="text" name="otherHousing">


            
            
        </form>
    </body>
</html>