<html>
    <head>
        <title>To Adopt</title>
    </head>
    <body>
        <h1>Adoption Form</h1>
        <h2>Contact Information</h2>
        <form action="/adopt-dog" method="get">
            Username: <input type="text" name="userId">
            <br><br>
            <!-- autofilled-->
            Full Name: <input type="text" name="ownerName">
            <br><br>
            Contact Number: <input type="text" name="contact">
            <br><br>
            Address: <input type="text" name="address">
            <br><br>
            Email: <input type="text" name="email">
            <br><br>

        <h2>Family & Housing</h2>

            What type of housing do you reside in? 
            <br><br>
            <input type="radio" name="housing" value="hdb"> HDB
            <input type="radio" name="housing" value="condo"> Condominium
            <input type="radio" name="housing" value="landed"> Landed Property
            <br><br>
            <input type="radio" name="housing" value="others"> Others (Please specify)
            <label for='others'></label>
            <input type="text" name="housing">

            <br><br>
        <h2>Which furry friend do you want to adopt?</h2>
            Dog ID: <input type="text" name="petId">
            <br><br>
            Dog Name: <input type="text" name="petName">
            <br><br>

            <button type="submit">Submit</button>
            <br><br><br>
            <a href="/home-display">
            <button type="button">Back to Home Page</button>
            </a>
        </form>
        

    </body>
</html>