<!--
  Name: Foo Jia Quan
  Email: jiaquan.foo.2025
-->

<!DOCTYPE html>
<html>

<head>
  <title>Admin Sign-in/Sign-up</title>
</head>

<body>
  <h1>Admin Sign-in/Signup</h1>

  <!--YOUR CODE HERE-->
       <form action='/adminlogin-process' method='post'>

               Employee ID:<br>
                <input type='text' name='employeeID'>
            <br><br>
                Employee Username<br>
                <input type='text' name='username'>
                <br><br>
              Password:<br>
                <input type='password' name='password'>
            <br><br>
            <button type="submit">Sign-in</button>
           <a href="/auth/register?usertype=admin">
            <button type="button">No Account? Register</button>
            </a>

    </form>

</body>

</html>