<!--
  Name: Foo Jia Quan
  Email: jiaquan.foo.2025
-->

<!DOCTYPE html>
<html>

<head>
  <title>User Sign-in/Sign-up</title>
</head>

<body>
  <h1>User Sign-in/Signup</h1>

  <!--YOUR CODE HERE-->
       <form action='/userlogin-process' method='post'>

               Username:<br>
                <input type='text' name='username'>
            <br><br>
              Password:<br>
                <input type='password' name='password'>
            <br><br>
            <a href="/auth/register?usertype=user">
            <button type="button">No Account? Register</button>
            </a>
        </form>

</body>

</html>